/*
Theme Name: Locus - Responsive One Page HTML Template
Theme URI: http://themes.iki-bir.com/locusv4
Description: Themeforest Site Template
Version: 4.4
Author: elemis
Author URI: http://iki-bir.com
Tags: portfolio, design agency, news, one-page, javascript, css3, dark, light, darklight
*/

/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix {
	display:inline-block
}
* html .clearfix {
	height:1%
}
.clearfix {
	display:block
}
th, td {
	margin:0;
	padding:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.clear {
	clear: both;
}
br {
	line-height: 10px;
}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
 border : 0px;
}
input[type="submit"]:focus, input[type="button"]:focus {
	outline : none;
}

/*-----------------------------------------------------------------------------------*/
/*	LAYOUT
/*-----------------------------------------------------------------------------------*/

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

body {
	background: #dcdcdb url(style/images/light/bg1.jpg) 50% 0 repeat;
	overflow-x: hidden;
	background-attachment: fixed;
	color:#363636;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
#wrapper {
	width:964px;
	margin:0 auto;
}
ul#menu, .flexslider, .section-container, .grid li, .jcarousel-container, .panel-container, .contact-container, #bottom, .title {
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
}
.borderline {
	padding-top:150px;
}
#header {
	background: #dcdcdb url(style/images/light/bg1.jpg) 50% 0 repeat;
	width:964px;
	margin:0 auto;
	position: fixed;
	z-index:100;
	background-attachment: fixed;
}
#logo {
	text-align: left;
	display: inline-block;
}
#logo img {
	margin-top:25px;
	margin-bottom:10px;
}
a {
	color: #4a8b86;
	outline:0;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.lite {
	color: #4a8b86;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color:#000;
	font-family: 'TitilliumMaps29L400wt';
}
h1 {
	font-size:22px;
	margin-bottom: 10px;
}
#logo h1 {
	display: inline-block;
	color:#282828;
	font-size:25px;
	text-transform: uppercase;
	margin-bottom:14px;
	padding-top:32px;
}
#logo h1 a {
	color:#282828;
	text-decoration: none;
}
#logo h1 span {
	font-weight:bold;
	text-shadow:0px 0px 10px #000;
}
h2 {
	font-size:20px;
	line-height:1;
	margin-top:-2px;
	margin-bottom: 5px;
}
.title h2 {
	display: none;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 20px 12px;
	min-height: inherit;
	margin-bottom: 15px;
	position: relative;
}
.title h2 span {
	font-size:13px;
	text-transform:none;
	position: absolute;
	top:18px;
}
.title h2 span:before {
	content: '/';
	padding-left: 4px;
	padding-right: 8px;
}
h3 {
	font-size:18px;
	margin-bottom: 10px;
}
h4 {
	font-size:16px;
	margin-bottom: 10px;
}
h5 {
	font-size:14px;
	margin-bottom: 10px;
}
h6 {
	font-size:12px;
	margin-bottom: 10px;
}
p {
	font-size:13px;
	line-height: 22px;
	padding-bottom: 10px;
}
img.left {
	float:left;
	margin-right:20px;
	margin-top:0;
	margin-bottom:0;
	position:relative;
}
img.right {
	float:right;
	margin-left:20px;
	margin-bottom:0;
}
img.center {
	text-align: center;
	display: block;
	margin: 0 auto;
}
ul.unordered li {
	padding-left:26px;
	line-height:16px;
	margin-bottom:10px;
	background-image: url(style/images/light/bullet.png);
	background-repeat: no-repeat;
	font-size: 13px;
	display: block;
}
ol {
	margin-top:20px;
	overflow: hidden;
}
ol li {
	line-height:16px;
	margin-bottom:10px;
	font-size: 13px;
	list-style-position: inside;
	list-style-type: decimal;
}
.dropcap {
	font-family: 'TitilliumMaps29L400wt';
	display:block;
	float:left;
	font-size:40px;
	padding:0;
	margin: 0;
	margin:0px 8px -10px 0;
}

/* TABLES */
/* ----------------------------------------- */

table {
	width: 100%;
	font-size:14px;
	border-collapse: collapse;
	border-bottom:1px solid #8B8A88;
	border-top:1px solid #8B8A88;
}

table td {
	padding: 10px;
	border-right:1px solid #8B8A88;
}

table td:hover {
	background-color: #FFFFFF;
}

table th {
	padding: 10px;
	color:#000;
	text-align: left;
	border-right:1px solid #8B8A88;
}

table td.center {
	text-align: center;
}

table td.last {
	background: none;
}

table th.center {
	text-align: center;
}

table th.last {
	background: none;
}

table tr {
	border-left:1px solid #8B8A88;
	border-top:1px solid #8B8A88;
}

table tr.caption {
	border-left:1px solid #8B8A88;
}

/*-----------------------------------------------------------------------------------*/
/*	MENU
/*-----------------------------------------------------------------------------------*/

ul#menu {
	font-family: 'TitilliumMaps29L400wt';
	width:960px;
	height:50px;
	margin:0 auto;
	overflow:hidden;
	clear:both;
}
ul#menu li {
	background: transparent url(style/images/light/sep.png) repeat-y top right;
	display: block;
	float:left;
	padding-right: 3px;
	margin-left: -2px;
}
ul#menu li a {
	height:50px;
	line-height: 50px;
	padding:0 30px;
	color: #272727;
	font-size: 16px;
	display: block;
	-webkit-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
ul#menu li a:hover, ul#menu li.current a {
	color:#010101;
	text-decoration: none;
	background-color: #efefef;
}
.selectnav {
	display: none;
	width: 280px;
	margin: 10px auto 30px;
	height: 30px;
	font-family: 'TitilliumMaps29L400wt', sans-serif;
	color: white;
	border: 1px solid #00D5EC;
	background: #111B25;
}
.selectnav option{
	font-family: 'TitilliumMaps29L400wt';
}

/*-----------------------------------------------------------------------------------*/
/*	COLUMNS
/*-----------------------------------------------------------------------------------*/

.one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .one-sixth {
	float:left;
	position:relative;
}
.one-third {
	width:30%;
	margin-right:5%;
}
.one-half {
	width:48%;
	margin-right:4%;
}
.one-third {
	width:30%;
	margin-right:5%;
}
.two-third {
	width:65%;
	margin-right:5%;
}
.one-fourth {
	width:22%;
	margin-right:4%;
}
.one-fifth {
	width:18%;
	margin-right:2.5%;
}
.one-sixth {
	width:15%;
	margin-right:2%;
}
.three-fourth {
	width:74%;
	margin-right:4%;
}
.last {
	margin: 0;
}

/*-----------------------------------------------------------------------------------*/
/*	SLIDER
/*-----------------------------------------------------------------------------------*/

#slider {
	margin-bottom: 10px;
}

.flex-container a:active, .flexslider a:active {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider {
	width: 920px;
	height: 370px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	border: 20px solid #fff;
}
.flexslider .slides > li {
	display: none;
}
.flexslider .slides img {
	width: 920px;
	height: auto;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
.no-js .slides > li:first-child {
	display: block;
}

.flexslider .slides {
	zoom: 1;
}
.flexslider .slides > li {
	position: relative;
}
.flex-container {
	zoom: 1;
	position: relative;
}
.flex-caption {
	background:none;
	zoom: 1;
}
.flex-caption {
	width: 900px;
	padding: 8px 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color:#FFF;
	opacity: .8;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	color: #2f2f2f;
	font-size: 13px;
	line-height: 18px;
}
/* Direction Nav */
.flex-direction-nav li a {
	width: 23px;
	height: 23px;
	display: block;
	background: url(style/images/light/slider-arrows.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	margin-top: -11px;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0; filter:alpha(opacity=0);
	z-index: 100;
}
.flex-direction-nav li .flex-next {
	background-position: top right;
	right: 10px;
}
.flex-direction-nav li .flex-next:hover {
	background-position: bottom right;
}
.flex-direction-nav li .flex-prev {
	left: 10px;
}
.flex-direction-nav li .flex-prev:hover {
	background-position: bottom left;
}
.flex-direction-nav li .disabled {
	opacity: .5;
	filter:alpha(opacity=50);
	cursor: default;
}
.flexslider:hover .flex-direction-nav li a, .flexslider:hover .flex-control-nav li a { opacity: 1; filter:alpha(opacity=100); }
/* Control Nav */
.flex-control-nav {
	position: absolute;
	top: 10px;
	right: 10px;
}
.flex-control-nav li {
	margin: 0 0 0 5px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.flex-control-nav li:first-child {
	margin: 0;
}
.flex-control-nav li a {
	width: 10px;
	height: 10px;
	display: block;
	background: url(style/images/light/slider-buttons.png) no-repeat 0 0;
	cursor: pointer;
	text-indent: 99999px;
	opacity: 0.2; filter:alpha(opacity=20);
}
.flex-control-nav li a:hover {
	background-position: 0 -10px;
}
.flex-control-nav li a.flex-active {
	background-position: 0 -10px;
	cursor: default;
}

/*-----------------------------------------------------------------------------------*/
/*	SERVICE COLUMNS
/*-----------------------------------------------------------------------------------*/

#service-columns {
	text-align: center;
}
#service-columns p {
	color:#3a3a3a;
	font-size: 12px;
	line-height:20px;
	padding-top: 8px;
}
#service-columns img {
	padding-top:7px;
}
#service-columns h2 {
	margin-top:5px;
	color: #BBCBD5;
}
#service-columns:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}

/*-----------------------------------------------------------------------------------*/
/*	ABOUT
/*-----------------------------------------------------------------------------------*/

.section-container {
	width:920px;
	padding:20px;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
}
.section-container p:last-child {
	padding-bottom: 0;
}
.section-container h2 {
	display:inline-block;
	overflow: hidden;
}
.section-container ul {
	overflow: hidden;
	padding-bottom: 10px;
}
.section-container ul li {
	padding-left:16px;
	line-height:22px;
	background-image: url(style/images/light/bullet.png);
	background-repeat: no-repeat;
	background-position: 0 9px;
	font-size: 13px;
	display: block;
}

.section-container ul li.italics, .section-container ol li.italics {
	font-style:italic;
	font-family: Georgia, "Times New Roman", serif;
	margin-bottom:0;
	line-height:22px;
}

.section-container ul #listhead, .section-container ol #listhead {
	font-family: Georgia, "Times New Roman", serif;
	color:white;
	font-weight:bold;
	font-style:italic;
	line-height:2;
}

.section-container p#resume {
	font-weight:bold;
}

/*-----------------------------------------------------------------------------------*/
/*	SERVICES
/*-----------------------------------------------------------------------------------*/

#services .section-container img {	
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

/*-----------------------------------------------------------------------------------*/
/*	PORTFOLIO
/*-----------------------------------------------------------------------------------*/

#portfolio {
	overflow: hidden;
	width: 964px;
	margin-left:auto;
	margin-right:auto;
}
.grid {
	width: 984px;
	overflow: hidden;
	margin:0 auto;
	margin-left:-20px;
	padding: 0 0 0 2px;
}
.grid:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
.grid li {
	width: 205px;
	margin-left: 20px;
	margin-bottom:20px;
	float: left;
	font-size: 12px;
	line-height: 17px;
	height: 130px;
	overflow: hidden;
	position:relative;
	border: 10px solid #FFF;
}
.grid li a {
	outline:0;
	text-decoration: none;
}
.grid li img {
	display: block;
	width:205px;
	height:130px;
}
.gallerynav {
	overflow: hidden;
	padding: 0 0 0 2px;
}
.gallerynav li {
	float:left;
	color:#000;
	font-size:15px;
	margin-right:8px;
}
.gallerynav li a {
	text-decoration: none;
	color:#000;
	outline:0;
	display:block;
	padding:4px 10px 5px;
	border:0;
}
.gallerynav li a:hover, .gallerynav li.active {
	background: #c0c0c0;
}
#gallery {
	clear:both;
	margin-top:20px;
}
.caption {
	display:none;
	z-index:5;
	position:absolute;
	width:195px;
	background:#FFF;
	color: #000;
	padding: 8px 10px 0 10px;
	bottom:-65px;
	height:55px;
	opacity: .8;
	font-size: 11px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

/*-----------------------------------------------------------------------------------*/
/*	NEWS
/*-----------------------------------------------------------------------------------*/
.news-page:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.etabs { 
	margin: 0; 
	padding: 0; 
	width:270px; 
	float:left; 
	font-family: 'TitilliumMaps29L400wt';
}
.tab { 
	display: block; 
	zoom:1;
}
.tab-container { 
	width:960px; 
	padding-left: 2px;
}
.panel-container { 
	padding: 20px; 
	width:630px; 
	min-height: 384px;
	float:right; 
	position: relative;
}
.panel-container h2 { 
	margin-bottom: 15px;
} 
.panel-container span.postdate { 
	display: block;
	font-family: Georgia, "Times New Roman", serif;
	color: #adadad;
	font-size: 13px;
	font-style: italic;
	margin-top: -10px;
	margin-bottom: 20px;
	display: none;
} 
.next-tab.btn, .prev-tab.btn {
	position: absolute;
	top:15px;
	right: 15px;
	width: 21px;
	height: 21px;
	background: transparent url(style/images/light/news-arrows.png) no-repeat top right;
	text-indent: -9999px;
	cursor: pointer;
	display: none;
}
.prev-tab.btn {
	right: 40px;
	background-position: top left;
}
.jcarousel-container {
	width:  270px;
	height: 360px;
}
.jcarousel-container-vertical {
	padding: 34px 0;
	float: left;
}
.jcarousel-clip {
	overflow: hidden;
}
.jcarousel-clip-vertical {
	width:  270px;
	height: 360px;
}
.jcarousel-item {
	width: 270px;
	height: 59px;
	background-color: #fff;
	border-top:1px solid #c8c7c7;
}
.jcarousel-item a {
	display: block;
	padding: 21px 0 0 70px;
	height: 38px;
	color: #000000;
	text-decoration: none;
	outline: 0;
	font-size: 16px;
}
.jcarousel-item a:hover, .jcarousel-item a.active {
	color: #4a8b86;
	text-decoration: none;
}
.jcarousel-next-vertical, .jcarousel-prev-vertical {
	position: absolute;
	bottom: 0px;
	width: 270px;
	height: 34px;
	cursor: pointer;
	display: block;
	background: transparent url(style/images/light/down.jpg) no-repeat 0 0;
}
.jcarousel-prev-vertical {
	top: 0px;
	border-bottom:1px solid #c8c7c7;
	background-image: url(style/images/light/up.jpg);
}
.jcarousel-next-vertical:hover {
	background-position: 0 -34px;
}
.jcarousel-prev-vertical:hover {
	background-position: 0 -32px;
}
.date {
	position: relative;
	width: 28px;
	height: 33px;
	float: left;
	margin-left:11px;
	margin-top:9px;
	padding: 4px 6px;
	background: #d4d4d4;
	color: #0e0e0e;
}
.date .month {
	text-transform: uppercase;
	font-size: 8px;
	line-height: 8px;
	height: 10px;
}
.date .day {
	font-size: 12px;
	line-height: 12px;
	height: 13px;
}
.date .year {
	font-size: 8px;
	line-height: 8px;
	height: 10px;
}
.date .month, .date .day, .date .year {
	text-align: center;
}
 html:lang(en)>body .date .day {
	font-size: 12px;
	line-height: 12px;
	height: 14px;
}

/*-----------------------------------------------------------------------------------*/
/*	CONTACT
/*-----------------------------------------------------------------------------------*/

#contact {
	height: 550px;
}
.contact-container {
	width:920px;
	overflow: hidden;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
}
.contact-form p {
	margin-bottom:33px;
}
 input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
 border : 0px;
}
.contact-right {
	width:200px;
	/*float:right;*/
	margin: 0 auto;
}
#bottom {
	width: 930px;
	margin: 25px auto 0;
	padding:12px 15px;
}
.copyright {
	float: left;
	padding-top: 0px;
	font-size: 11px;
}
#bottom a {
	text-decoration: none;
}
.gototop {
	width:16px;
	float: right;
}
.scrolltop {
	background: transparent url(style/images/light/top.png) no-repeat 0 0;
	width: 16px;
	height: 10px;
	display: block;
}
.title {
	position: relative;
}
.title .gototop {
	display: none;
	float: none;
	position: absolute;
	top:20px;
	right: 20px;
}
.contact-info ul {
	padding:0;
	margin:0;
}
.contact-info ul li {
	font-size:13px;
	line-height: 22px;
	margin-bottom:6px;
}

/*-----------------------------------------------------------------------------------*/
/*	FORMS
/*-----------------------------------------------------------------------------------*/

.form-container {
	position: relative;
	width: 404px;
	overflow: hidden;
	float: left;
	padding: 0;
}
.form-container .response {
	display: none;
	margin: 0 0 15px 0;
	color:#4d8c74;
	clear:both;
	text-shadow: none;
	line-height: 17px;
	width: 298px;
	font-size: 13px;
}
.forms ol {
	margin:0;
	padding:0;
	overflow: hidden;
}
.forms ol li {
	line-height:auto;
	list-style: none;
}
.forms li.form-row {
	margin-bottom: 20px;
}
.forms li.hidden-row {
	display: none;
}

.forms fieldset .text-input {
	background-color: #ededed;
	width: 260px;
	height: 24px;
	padding: 4px 20px 4px 9px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color:#363636;
	border: none;
	-webkit-transition: all 0.3s ease; 
	 -moz-transition: all 0.3s ease; 
	   -o-transition: all 0.3s ease; 
	      transition: all 0.3s ease;
}

.forms fieldset .first-input input {
	margin-top: 10px;
}
.forms fieldset .first-input label {
	padding-top: 15px;
}

.ie8 .forms fieldset .text-input {
	padding: 6px 20px 2px 9px;
}

.forms fieldset .text-area {
	background-color: #ededed;
	width: 269px;
	height: 144px;
	padding:10px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color:#363636;
	display: block;
	resize: none;
	border: none;
	-webkit-transition: all 0.3s ease; 
	 -moz-transition: all 0.3s ease; 
	   -o-transition: all 0.3s ease; 
	      transition: all 0.3s ease; 

}

.forms fieldset .text-input:focus, .forms fieldset .text-area:focus {
	background-color: #ededed;
}

.forms fieldset .btn-submit {
	background-image:url(style/images/light/button.png);
	background-color: #fff;
	width:105px;
	height:31px;
	border: 0;
	margin: 0;
	text-align: center;
	color:#363636;
	font-size: 13px;
	cursor: pointer;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	margin-left: 95px;
	margin-bottom: -20px;
}
.forms fieldset .btn-submit:hover {
	background-color: #e3e3e3;
	color:#000;
}

.forms li.error input, .forms li.error textarea {
}
.forms span.error {
	display: block;
	margin-left: 95px;
	color: #c43131;
	font-size: 12px;
	padding-top: 5px;
}
.forms .button-row span.error {
	padding: 0;
	display: none;
}
.forms li.focus {
}
.forms label {
	display: block;
	float: left;
	width: 95px;
	padding-top: 5px;
	font-size: 13px;
	clear: both;
}
.form-container:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*-----------------------------------------------------------------------------------*/
/*	SOCIAL ICONS
/*-----------------------------------------------------------------------------------*/
ul.social li {
	float:left;
	margin:0;
	padding:0;
	margin-right:8px;
	margin-bottom: 8px;
}
ul.social li a img {
	position:relative;
}

.shareEggChiclet {
	-webkit-transition:top 150ms ease-in;
	-moz-transition:top 150ms ease-in;
}

.shareEggChiclet:hover {
	top:-8px !important;
}

/*-----------------------------------------------------------------------------------*/
/*	TWITTER
/*-----------------------------------------------------------------------------------*/
.twitter-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
}
#twitter {
	background-color: #ededed;
	width:320px;
	height:auto;
	padding:10px 30px 15px 15px;
	margin-bottom:25px;
	margin-top:30px;
}
.twitter-wrapper .bird {
	background: transparent url(style/images/light/icon-bird.png) no-repeat;
	position: absolute;
	bottom: 35px;
	right: 50px;
	width: 32px;
	height: 34px;
	display: block;
}
.twitterStatus {
	padding:0;
	color: #5e5e5e;
	font-family: Georgia, "Times New Roman", serif;
	font-size:13px;
	line-height:21px;
	font-style:italic;
}
.message a {
	font-weight:normal;
	text-decoration: none;
	color: #000;
}
.message a:hover {
	text-decoration: underline;
}
em.twitterTime a {
	text-decoration: none;
	font-style: normal;
	color:#000;
	padding-top:0px;
	font-size:10px;
	display: inline-block;
}
em.twitterTime a:hover {
	text-decoration: underline;
}
.username {
	display: block;
	margin-top: 10px;
	font-size: 12px;
	font-style: normal;
}
.username a:hover {
	text-decoration: underline;
}

/*-----------------------------------------------------------------------------------*/
/*	DARK.CSS
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	LAYOUT
/*-----------------------------------------------------------------------------------*/

body {
	background: 
		url(../images/logo.png) no-repeat,
		url(style/images/dark/bg5.jpg) 50% 0 no-repeat, 
		url(style/images/dark/bg5_repeater.png) repeat bottom;
	background-attachment: fixed;
	background-color:#09273e;
	color:#e4e4e4;
	background-position: 15px 10px, top, bottom;
}

.lt-ie10 body {
	background:url(style/images/dark/bg5_repeater.png) repeat bottom;
	background-attachment:fixed;
}

#wrapper {
	width:964px;
	margin:0 auto;
}
.flexslider, .section-container, .grid li, .panel-container, .contact-container, #bottom, .title {
	/*background: transparent url(style/images/dark/transbg.png) repeat;*/
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}
#header {
	background: #000 url(style/images/dark/bg5_header.jpg) 50% 0 no-repeat;
	background-attachment: fixed;
}

.lt-ie10 #header {
	background:url(style/images/dark/bg5_repeater.jpg) repeat bottom;
	background-attachment:fixed;
}

a {
	color: #00D5EC;
}
.lite {
	color: #FFF;
}
h1, h2, h3, h4, h5, h6 {
	color: #D44970;
}
#logo h1 {
	color:#FFF;
}
#logo h1 a {
	color:#FFF;
}
ul.unordered li {
	background-image: url(style/images/dark/bullet.png);
}


/* TABLES */
/* ----------------------------------------- */

table {
	border-bottom:1px solid #8B8A88;
	border-top:1px solid #8B8A88;
}

table td {
	border-right:1px solid #8B8A88;
}

table td:hover {
	background-color: #333;
}

table th {
	color:#FFF;
	border-right:1px solid #8B8A88;
}

table tr {
	border-left:1px solid #8B8A88;
	border-top:1px solid #8B8A88;
}

table tr.caption {
	border-left:1px solid #8B8A88;
}

/*-----------------------------------------------------------------------------------*/
/*	MENU
/*-----------------------------------------------------------------------------------*/

ul#menu {
	background: #202020;
	background: -webkit-linear-gradient(top,  #202020 0%,#223038 100%);
	background: linear-gradient(to bottom,  #202020 0%,#223038 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#223038',GradientType=0 );
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
ul#menu li {
	background-image:url(style/images/dark/menu-line.png);
	padding-right: 2px;
	margin-left: -1px;
}
ul#menu li a {
	color:#FFF;
}
ul#menu li a:hover, ul#menu li.current a {
	background-color: #101010;
	color:#FFF;
}

/*-----------------------------------------------------------------------------------*/
/*	SLIDER
/*-----------------------------------------------------------------------------------*/

.flexslider {
	border-color: transparent;
}
.flex-caption {
	background-color: #000;
	color: #FFF;
}
.flex-direction-nav li a {
	background-image: url(style/images/dark/slider-arrows.png);
}
.flex-control-nav li a {
	background-image: url(style/images/dark/slider-buttons.png);
}

/*-----------------------------------------------------------------------------------*/
/*	SERVICE COLUMNS
/*-----------------------------------------------------------------------------------*/

#service-columns p {
	color:#8b8a88;
}

/*-----------------------------------------------------------------------------------*/
/*	ABOUT
/*-----------------------------------------------------------------------------------*/

.section-container ul li {
	/*background-image: url(style/images/dark/bullet.png);*/
	background-image:none;
	border-left: 3px solid #2E4964;
}

/*-----------------------------------------------------------------------------------*/
/*	PORTFOLIO
/*-----------------------------------------------------------------------------------*/
.grid li {
	border: 10px solid transparent;
}
.gallerynav li {
	color:#8b8a88;
}
.gallerynav li a {
	color: #E2E2E2;
}
.gallerynav li a:hover, .gallerynav li.active {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
}
.caption {
	background:#000;
	color: #FFF;
}

/*-----------------------------------------------------------------------------------*/
/*	NEWS CONTAINER
/*-----------------------------------------------------------------------------------*/

.jspTrack {
	background: #000;
}
.jspDrag {
	background: #8B8A88;
}

/*-----------------------------------------------------------------------------------*/
/*	NEWS LIST
/*-----------------------------------------------------------------------------------*/

.jcarousel-container {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.jcarousel-container ul {
	background:transparent url(style/images/dark/transbg.png) repeat;
}
.jcarousel-item {
	height: 60px;
	border: none;
	background-color: transparent;
	background-image:url(style/images/dark/tab.png);
	background-position: top;
	background-position-y: 0px;
	background-repeat: no-repeat;
}
.jcarousel-item a {
	color: #9e9d9c;
}
.jcarousel-item a:hover, .jcarousel-item a.active {
	color: #FFF;
}
.jcarousel-container-vertical {
	padding: 32px 0;
}
.jcarousel-next-vertical, .jcarousel-prev-vertical {
	height: 32px;
	background: transparent url(style/images/dark/down.png) no-repeat 0 0;
}
.jcarousel-prev-vertical {
	top: 0px;
	border-bottom:none;
	background-image: url(style/images/dark/up.png);
}
.jcarousel-next-vertical:hover {
	background-position: 0 -34px;
}
.jcarousel-prev-vertical:hover {
	background-position: 0 -32px;
}
.panel-container span.postdate { 
	color: #adadad;
}
.date {
	background: #171717;
	color: #a7a7a7;
}

/*-----------------------------------------------------------------------------------*/
/*	CONTACT
/*-----------------------------------------------------------------------------------*/

.scrolltop {
	background-image: url(style/images/dark/top.png);
}

span.gc-cs-link {
color: #00D5EC;
text-decoration: underline;
cursor: pointer;
}

#asterisk {
	color:#F33;
}

.contact-info ul li {
	color:#00D5EC;
}

/*-----------------------------------------------------------------------------------*/
/*	FORMS
/*-----------------------------------------------------------------------------------*/

.forms fieldset .text-input {
	background-color: #ADADAD;
	color:#222;
}

.forms fieldset .text-area {
	background-color: #ADADAD;
	color:#222;
}

.forms fieldset .text-input:focus, .forms fieldset .text-area:focus {
	background-color: #fff;
	-webkit-box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.39),0 0 15px rgba(0, 213, 236, 0.4);
	box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.39),0 0 15px rgba(0, 213, 236, 0.4);
	color:#124146;
	outline: 0;
}

.forms fieldset .btn-submit {
	background-image:url(style/images/dark/button.png);
	background-color: #1d1d1d;
	color:#8B8A88;
}
.forms fieldset .btn-submit:hover {
	background-color: #2a2a2a;
	color:#8B8A88;
}



/*-----------------------------------------------------------------------------------*/
/*	end DARK.CSS
/*-----------------------------------------------------------------------------------*/


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

